@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Signika Negative', sans-serif;
}

.bg-navbar {
  background-color: #d8eaee;
}

input:focus {
  outline: none !important;
}

.static-bg {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
}

.static-home-bg {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* color */
.color-eee {
  color: #eee8da;
}

.color-231 {
  color: #231f20;
}

.color-006 {
  color: #006442;
}

.color-364 {
  color: #364f6b
}

.color-bef {
  color: #befef8
}

.color-476 {
  color: #47688d
}

.color-253 {
  color: #253649
}


.color-red {
  color: rgb(255, 31, 31);
}

.color-green {
  color: rgb(69, 250, 69);
}

/* background color */

.bg-color-253 {
  background-color: #253649;
}

.bg-color-476 {
  background-color: #47688d;
}

.bg-color-231 {
  background-color: #231f20;
}

.bg-color-dfb {
  background-color: #dfbf86;
}

.bg-color-eee {
  background-color: #eee8da;
}

/* button set */
.button {
  padding: 10px 13px;
  border-radius: 8%;
}

.btn-blue-253 {
  border: 1px solid #253649;
  color: white;
  background-color: #253649;
}

.btn-blue-253:hover {
  background-color: transparent;
  border: 1px solid #253649;
  color: #253649;
}

.btn-blue-253-outline {
  border: 1px solid #253649;
  color: #253649;
  background-color: transparent;
}

.btn-blue-253-outline:hover {
  background-color: #253649;
  border: 1px solid #253649;
  color: white;
}

.btn-blue-476 {
  border: 1px solid #47688d;
  color: white;
  background-color: #47688d;
}

.btn-blue-476:hover {
  background-color: #436082;
  border: 1px solid #47688d;
  color: white;
}

.btn-color-eee {
  border: 1px solid #eee8da;
  color: #231f20;
  background-color: #eee8da;
}

.btn-color-eee:hover {
  border: 1px solid #c2bdb2;
  color: #231f20;
  background-color: #c2bdb2;
}

.btn-color-eee-outlined {
  border: 1px solid #eee8da;
  color: #eee8da;
  background-color: transparent;
}

.btn-color-eee-outlined:hover {
  background-color: #eee8da;
  border: 1px solid #eee8da;
  color: #231f20;
}

.btn-color-231 {
  border: 1px solid #231f20;
  color: #eee8da;
  background-color: #231f20;
}

.btn-color-231:hover {
  border: 1px solid #423f40;
  color: #eee8da;
  background-color: #423f40;
}

#btn-light:hover {
  background-color: rgb(182, 182, 182);
}

/* text */
span:before {
  content: " ";
  width: 10px;
}

.footer-text {
  color: #eee8da;
}

.footer-text:hover {
  text-decoration: underline;
}

#txt-dec-u:hover {
  text-decoration: underline;
}







.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}